:root {
    --tile-border-inactive: #efefef;
    --tile-border-inactive-axis: #ccc;
    --tile-border-hover: #333;
    --tile-border-active: #512DA8;

    --button-default: var(--tile-border-active);
    --button-action: #d32f2f;
}

body, html {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 16px;
}

#container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

#stage {
    display: grid;
    gap: 0px;
    justify-content: center;
}

.tile {
    border: 1px solid var(--tile-border-inactive);
}

.tile:hover {
    border: 1px solid var(--tile-border-hover) !important;
}

.tile[data-selected="1"] {
    border: 2px solid var(--tile-border-active) !important;
}

#controls {
    position: absolute;
    top: 200px;
    right: 200px;
    width: 200px;
    background: white;
    box-sizing: border-box;
    padding: 12px;
}

button {
    background: var(--button-default);
    padding: 6px 12px;
    border: none;
    border-radius: 2px;
    color: whitesmoke;
}

button:hover {
    opacity: 0.75;
}

button.action {
    background: var(--button-action);
}

#controls button {
    display: block;
    width: 100%;
}

#controls button+button {
    margin-top: 6px;
}

.card {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}