:root {
    --tile-border-inactive: #efefef;
    --tile-border-inactive-axis: #ccc;
    --tile-border-hover: #333;
    --tile-border-active: #512DA8;
    --tile-border-edit: #d32f2f;

    --button-default: var(--tile-border-active);
    --button-action: var(--tile-border-edit);
}

@font-face {
    font-family: Oxygen;
    src: url("Oxygen-Regular.ttf");
}

body, html {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 16px;
    font-family: Oxygen, sans-serif;
}

#container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

#stage {
    display: grid;
    gap: 0px;
    justify-content: center;
}

.tile {
    border: 1px solid var(--tile-border-inactive);
    text-align: center;
    font-size: 10px;
}

.tile:hover {
    border: 1px solid var(--tile-border-hover) !important;
}

.tile[data-selected="true"] {
    border: 2px solid var(--tile-border-active) !important;
}

.tile[data-edit="true"] {
    border: 2px solid var(--tile-border-edit) !important;
}

#controls {
    position: absolute;
    top: 150px;
    right: 150px;
    width: 300px;
}

button {
    background: var(--button-default);
    padding: 6px 12px !important;
    border: none;
    border-radius: 2px;
    color: whitesmoke;
    height: auto !important;
}

button.action {
    background: var(--button-action);
}

#controls button {
    display: block;
    width: 100%;
}

#controls button+button {
    margin-top: 6px;
}

.card {
    border-radius: 4px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background: white;
    box-sizing: border-box;
    padding: 12px;
}

#tooltip {
    position: fixed;
    top: 0;
    left: 0;
    transition: 300ms opacity ease-out;
    white-space: pre-wrap;
    max-width: 300px;
    font-size: 14px;
}

.invisible {
    opacity: 0;
    transition: 300ms opacity ease-out;
}

textarea {
    width: 100%;
    margin-bottom: 6px;
}